html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Chivo", sans-serif;
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding-top: 0.8rem;
}

h1 a {
  text-decoration: none;
  color: #762323;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background: #ffb6c1;
  padding: 0.2em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav li {
  margin-left: 2em;
  background-color: #762323;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

nav li:hover {
  background-color: #923232;
}

nav a {
  text-decoration: none;
  color: #fefbfb;
  transition: 0.7s ease;
}

nav a:hover,
nav a:focus {
  color: #fefbfb;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transform: all 0.3s ease-in-out;
  background-color: #fefbfb;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  background-color: #ffd0d7;
}

.article-featured {
  padding-left: 9.4rem;
}

.article-title {
  color: #762323;
}

.article-body {
  font-size: 3rem;
}

.article-info {
  padding-bottom: 1rem;
}

.link-container {
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background-color: #762323;
  color: white;
  padding: 0.7rem;
  cursor: pointer;
}

.link-container:hover {
  background-color: #923232;
  color: #fefbfb;
}

.article-featured-image {
  width: 80%;
  height: 450px;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.section-body {
  padding: 5rem;
}

.section-header {
  text-align: center;
}

.section-header > p {
  color: #762323;
  font-weight: 600;
  font-size: 15px;
}

.section-header h3 {
  font-size: 20px;
}

.section-features {
  display: flex;
  text-align: center;
}

.details-image {
  height: 150px;
  object-fit: cover;
}

.details-title {
  font-size: 1.3rem;
  color: #762323;
  font-weight: 700;
}

.details-info {
  font-size: 15px;
  color: #555;
  padding: 0 2rem;
}

.aside-body {
  padding: 2rem;
}

.aside-header {
  text-align: center;
}

.aside-header > p {
  color: #762323;
  font-weight: 600;
  font-size: 15px;
}

.aside-header h3 {
  font-size: 20px;
}

.aside-features {
  display: flex;
  justify-content: center;
}

.aside-image {
  width: 400px;
  height: 275px;
  padding: 1rem;
  object-fit: cover;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.address-body {
  padding: 2rem;
}

.address-header h3 {
  font-size: 20px;
}

.address-header {
  text-align: center;
}

.address-header > p {
  color: #762323;
  font-weight: 600;
  font-size: 15px;
}

.input-details {
  padding: 0.3rem;
}

input {
  width: 94%;
  padding: 0.5rem;
  background-color: #ffd0d7;
  border: solid #ffd0d7;
  margin-top: 5px;
}

.input-message {
  height: 100px;
  width: 350px;
}

.label {
  color: #762323;
}

.comment-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #762323;
  font-size: 15px;
  color: #fefbfb;
  padding: 0.5rem;
  cursor: pointer;
}

.button-container:hover {
  background-color: #923232;
  color: #fefbfb;
}

footer {
  margin-top: 2rem;
  background-color: #ffb6c1;
  font-weight: 600;
  color: #762323;
}

.footer-details {
  text-align: center;
  padding: 1rem;
}

.hidden {
  display: none;
}

.pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 350px; */
  background-color: #fefbfb;
  height: 100vh;
  /* position: absolute;
  top: 50%; */
}

.pop-up--notActive {
  display: none;
}

.pop-up-message {
  text-align: center;
  padding: 20px;
}

.icon-mark {
  color: #762323;
  width: 40px;
  height: 40px;
}

.success {
  color: #762323;
  text-transform: uppercase;
}

.success-confirm {
  opacity: 70%;
}

.back-home {
  background-color: #762323;
  border: none;
  padding: 10px 35px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.back-home:hover {
  background-color: #923232;
}
